
/* font name */

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  /* end font name */
  
  /* header styles */
  .heder-title{
     font-size: 45px;
     font-weight: 800;
     color: #1E1E1E;
  
  }
  span{
     color: #FD6E0A;
     font-size: 45px;
     font-weight: 800;
  }
  nav {
  align-items: center;
     
  }
  
  nav, ul{
  display: flex;
  justify-content: space-between;
  margin: 0px 160px;
  align-items: center;
  
    
  }
  
  nav ul li{
     
     list-style: none;
     padding-right:  30px;
  }
  
  nav ul li a{
   
   text-decoration: none;
  
  }
  
  /* shared-color */
  .dark-2{
     color: #474747;
  }
  
  .bg-1{
    color:  #FFF8F3;
  }
  
  /* btn style */
  .nav-btn{
     color: white;
     background-color: #FD6E0A;
     border: none;
     padding: 18px 30px;
     border-radius: 5px;
     font-weight: 700;
     font-size: 15px;
  }
  
  .btn-mark{
     align-items: center;
  }
  
  /* banner styles */
  
  .banner{
     display: flex;
     /* max-width: 1600px; */
     justify-content: space-between;
     margin: 0  35px 200px 170px;
  }
  
  /* .banner-containt{
     max-width: 580px;
    
  } */
  .banner-profile-pic{
     width: 100%;
     margin-right: 40px;
  }
  
  /* header styles */
  header{
     background-image: url(../images/developer.png), url(../images/header_bg.png);
     background-position: left top, right bottom;
     background-repeat: no-repeat;
     background-color: #FFF8F3;
  }
  
  /* about -styles */
  .about{
     width: 70%;
     margin: 0 auto;
     text-align: center;
     background-color: #FFF8F3;
     max-height: 550px;
     margin-bottom: 120px;
    
  }
  .title{
     font-size: 35px;
     font-weight: bold;
  }
  .about-wht-i-do{
     font-size: 35px;
     font-weight: bold;
     text-align: center;
  }
  
  .about-what-i-do-discription{
     text-align: center;
     font-size: 14px;
     
     margin-bottom: 90px;
  }
  /* styles itmes */
  .items{
     width: 70%;
     display: flex;
     justify-content: space-around;
  }
  
  /* what i do styles */
  .about-title{
     text-align: center;
     font-weight: 700px;
  
  }
  
  .skill-title{
     font-size: 20px;
     font-weight: bold;
  }
  .skill-discription{
     font-size: 15px;
  }
  .section-title{
     font-size: 90px;
  }
  
  .about-discription{
     text-align: center;
  }
  
  
  /* skills styles */
  .skills{
     display: flex;
     gap: 20px;
     margin-bottom: 80px;
  }
  .skill{
     padding: 50px;
     box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 0.06 );
  }
  .what{
     max-width: 1100px;
     margin: 0 auto;
  }
  
  .resumi-continer{
     display: flex;
     gap: 24px;
  }
  
  .resumi-title{
     text-align: center;
     margin-bottom: 90px;
  }
  
  .resume{
     align-items: center;
     width: 1100px;
     margin: 0 auto;
  }
  .btn-mark{
     justify-content: center;
  }
  
  /* footer styles */
  .section-title{
     font-size: 14px;
     padding-right: 60px;
  }
  footer{
    display: flex;
    padding: 130px 230px;
   background-color: #FFF8F3;;
  
  }
  .foter-clomn{
     display: flex;
     
  }
  /* .footer-contact{
    width: 50%; */
  /* } */
  footer input[type="text"]{
     display: block;
     margin-bottom: 20px;
     height: 45px;
     width: 70%;
     border-radius: 5px;
     
  }
  footer input[type="email"]{
     display: block;
     height: 45px;
     width: 70%;
     margin-bottom: 20px;
     border-radius: 5px;
  }
  /* responsive media queary */
  .hide{
     display: none;
  }
  @media screen and (max-width: 576px) {
     .skills{
        flex-direction: column;
     }
     .resumi-continer{
        flex-direction: column;
  }
    .footer-colum{
     padding: 20px;
     width: 60%;
    }
    .footer-contact [type="text"] {
     width: calc(100% - 40px);
     padding: 20px;
    }
    .footer-contact [type="email"]{
     width: calc(100% - 40px);
     padding: 20px;
    }
    textarea{
     width: 400px;
    }
    .count{
     flex-direction: column;
     width: 60%;
    }
    footer{
     width: 100%;
     width: calc(100% - 40px);
    }
   .items{
     flex-direction: column;
   }
  .banner{
     flex-direction: column;
     margin: 1px;
  }
  .nav-btn{
     margin-top: 5px;
  }
  
  .content-center{
     padding: 100px;
  }
  header{
     background-image: none;
  }
  nav{
     flex-direction: column;
  }
  nav ul{
     flex-direction: column;
     margin-top: 5px;
     padding: 5px;
     gap: 10px;
  }
  
  body{
     margin: 0;
  }
  
  .banner-profile-pic{
     width: 100%;
  }
  }